.places {
  max-width: 984px;
  margin: 0 auto 92px auto;
}

@media only screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin: 0px auto 92px auto;
  }
}

@media only screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 0px auto 89px auto;
  }
}

@media only screen and (max-width: 515px) {
  .places {
    max-width: 320px;
    margin: 0 auto 64px auto;
  }
}
