.lead {
 max-width: 984px;
  margin: 58px 148px 92px 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .lead {
      max-width: 928px;
      margin: 50px 48px 92px 48px;
  }
}

@media only screen and (max-width: 768px) {
  .lead {
      max-width: 768px;
      margin: 50px 0 88px 0;
  }
}

@media only screen and (max-width: 320px) {
  .lead {
      max-width: 320px;
      margin: 50px 0 64px 0;
  }
}