.header {
  max-width: 984px;
  min-width: 288px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 34px auto 0 auto;
}


@media only screen and (max-width: 1024px) {
  .header {
      max-width: 928px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
      max-width: 720px;
  }
}

@media only screen and (max-width: 321px) {
  .header {
      max-width: 288px;
      margin: 20px auto 0 auto;
  }
}