.page__wrapper {
  max-width: 1280px;
  margin: 0 148px;
}
@media screen and (min-width: 1281px) {
  .page__wrapper {
    margin: 0 160px;
  }
}
@media screen and (max-width: 1024px) {
  .page__wrapper {
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__wrapper {
    margin: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__wrapper {
    margin: 0 16px;
  }
}
