.intro__title {
  width: 100%;
  font-weight: 900;
  max-width: 690px;
  margin: 0 0 40px 0;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
}

@media only screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
